.main-header  {
    width: 100%;
    background-color: rgb(54, 54, 187);
}

.main-header nav {
    height: 100%;
}

.main-header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    height: 100%;
    width: 100%;
}

.main-header ul li {
    margin: 0 5%;
    list-style: none;
    color: rgb(238, 232, 232);
    font-weight: bold;
}
